body{
    background-color: rgb(16, 240, 240);
    text-align: center;
    font-size: 25;
    font-weight: bold;
}
h1{
    text-align: center;
}
.container{
    display:flex;
    margin: auto;
    justify-content: center;
    margin-bottom: 20;
  
}
h3{
    margin: auto;
  
}
input{
    margin: auto;
    height: 35px;
    width: 20%;
    min-width: 150px;
    border-radius: 5px;
    background-color: whitesmoke;
}
.btn{
  
    background-color: rgb(148, 152, 155);
    border: 2px solid;
    width: 10%;
    min-width: 100px;
    height: 35;
    border-radius: 5px;
    
}
.btn:hover{
    background-color: violet;
}
.num{
    color: rgb(238, 13, 51);
    font-size: 50;
    
}